<div>
	<h1 class="jumbotron">{{post.title}}</h1>
</div>
<hr>
<div class="container">
	<div class="well">
		<div><h3>{{post.body}}</h3></div>
		<small><span>Initiated By: </span><span>{{post.initiatedBy}}</span></small>

	</div>
	<hr>
	<div>
		<span><h2>Download Links</h2></span>
		{{#each post.comments}}
			<div class='alert alert-success'>
				<span>{{body}}</span>
				<span class="postCreated">
					{{modified_at}}
				</span>
			</div>
		{{/each}}
		<br>
		<div>
			<form action="/{{post.slug}}/comments" method="post">
				<textarea name="comment_body" placeholder="Enter Links for Downloading" class="form-control"></textarea>
				<br>
				<input type="submit" value="Submit" class='btn btn-lg btn-success'>
				<a href="/{{post.slug}}/close" class='btn btn-lg btn-success {{post.completedStat}}-Button'>Close Ticket</a>
			</form>
		</div>
		
	</div>

</div>
